---
layout: page
title: "About"
description: "「他单纯只想把日子过得不浪费」"
header-img: "img/about-bg.png"
header-mask: 0.3
multilingual: true
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 | Chinese </option>
    <option value="1"> 英文 | English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>

<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<div id="gitalk-container"></div>
{% endif %}
<!-- Gitalk 评论 end -->

<script src="https://giscus.app/client.js"
        data-repo="bill74186/bill74186.github.io"
        data-repo-id="R_kgDOSuyHDQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOSuyHDc4C-w2s"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>