<section class="visible-md visible-lg">
  <hr>
  <h5><a href="{{'ff/about/' | prepend: site.baseurl }}"><i class="fa fa-user"></i> ABOUT ME</a></h5>
  <div class="short-about">
	{% if site.sidebar-avatar %}
	<img alt="个人图片{{site.sidebar-avatar}}" src="{{site.sidebar-avatar}}" />
	{% endif %}
	{% if site.sidebar-about-description %}
	<p><i class="fa fa-quote-left"></i> {{site.sidebar-about-description}}</p>
	{% endif %}
	{% if site.sidebar-wechat %}
	<p><i class="fa fa-wechat"></i> {{site.sidebar-wechat}}</p>
	{% endif %}
	{% if site.sidebar-qq %}
	<p><i class="fa fa-qq"></i> {{site.sidebar-qq}}</p>
	{% endif %}
	{% if site.sidebar-email %}
    <p><i class="fa fa-envelope"></i> {{site.sidebar-email}}</p>
    {% endif %}
	<!-- SNS Link -->
	{% include sns-links.html %}
  </div>
</section>